<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase">randomizer</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">シンプル、汎用的な乱数ジェネレーター</h2>
        <%= link_to "使ってみる", random_sets_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</header>
<section class="projects-section bg-light" id="projects">
  <div class="container px-4 px-lg-5">
    <!-- Featured Project Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
      <div class="col-xl-8 col-lg-7 mh-50">
        <%= image_tag "trump_s.jpg", class: "img-fluid mb-3 mb-lg-0 h-100", alt: "トランプの画像" %>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>レアリティ設定</h4>
          <p class="text-black-50 mb-0">レアリティを設定することで、ソーシャルゲームのルートボックスの際限も可能。また、ピックアップについても確率・対象については別個に設定可能で簡単に利用できます。</p>
        </div>
      </div>
    </div>
    <!-- Project One Row-->
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
      <div class="col-lg-6">
        <%= image_tag "tresure_box_s.jpg", class: "img-fluid", alt: "ハリネズミ入りの箱" %>
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">ボックス設定</h4>
              <p class="mb-0 text-white-50">数量が決まったものも設定できます。<br>トランプや麻雀の再現、ボードゲームのランダマイザーとしての利用やブレインストーミングや罰ゲームの設定もできます。<br>ボックス制ルートボックスもすることもできます。<br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Two Row-->
    <div class="row gx-0 justify-content-center">
      <div class="col-lg-6">
        <%= image_tag "tunnel_s.jpg", class: "img-fluid", alt: "先の見えるトンネル" %>
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">目標指定</h4>
              <p class="mb-0 text-white-50">ソーシャルゲームのルートボックスでどの程度の回数が必要なのかの確認のために、特定の目標物がでるまで自動的に引くことができます。<br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
