<%= turbo_frame_tag "random_set_favorite_#{favorite.id}" do %>
  <div class="row">
    <%= link_to favorite.name, random_set_path(favorite.id) %>
    <%= button_to "削除", user_destroy_list_path(id: @user.id, random_set_id: favorite.id, list_mode: "favorite"),
      method: :delete,
      class: "btn btn-danger btn-small",
      form: { data: { turbo_confirm: "#{favorite.name}をお気に入りから削除してもよろしいですか？" } }
    %>
  </div>
<% end %>
