<% content_for :title, "ユーザー登録" %>
<%= turbo_frame_tag "user", class: "p-0" do %>

  <div class="p-0 m-0 max-height container">
    <div class="row gx-0 align-items-center w-100 h-100 trump-img background-fix opacity-50"></div>
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="card w-50">
        <div class="card-header">
          <span class="bi bi-person-fill-add">ユーザー登録</span>
        </div>
        <div class="card-body">
          <%= render "new_form" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
