<%= turbo_frame_tag lottery do %>
  <li>
    <div class="row border-bottom">
      <div class="col-4 mt-auto">
        <%= get_realityname(lottery.reality) %>
      </div>
      <div class="col-4 mt-auto">
        <%= lottery.name %>
      </div>
      <div class="col-4 mt-auto"></div>
    </div>
  </li>
<% end %>
