<%= render "lotteriesPreview", title: @random_set_title do %>
  <div class="mx-3">
    <%= turbo_frame_tag "lottery-list" do %>
      <%= render "randomset_lotteries" %>
    <% end %>
  </div>
<% end %>
