<%= turbo_frame_tag "random_set_lotteries" do %>
  <%# ランダマイザー機能 %>
  <div class="card mt-3">
    <div class="card-header">
      <i class="bi bi-dice-3-fill">ランダマイザー</i>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md">
          <ul class="list-unstyled">
            <li>
              <div class="btn-group" role="group">
                <button class="btn btn-primary mb-1 py-2 px-3" data-action="click->randomizer#oneDraw">１回引く</button>
                <button class="btn btn-primary mb-1 py-2 px-3" data-action="click->randomizer#anyDraw" data-count=10>１０回引く</button>
                <button class="btn btn-primary mb-1 py-2 px-3" data-action="click->randomizer#anyDraw" data-count=100>１００回引く</button> 
              </div>
            </li>
            <li>
              <div class="btn-group">
                <% if @random_set.pick_type == "box" %>
                  <button class="btn btn-primary mb-1 py-2 px-3" data-action="click->randomizer#halfDraw">ボックスの半分を引く</button>
                  <button class="btn btn-primary mb-1 py-2 px-3" data-action="click->randomizer#allDraw">ボックスのすべてを引く</button>
                <% end %>
              </div>
            <li><button class="btn btn-primary mb-1 py-2 px-3" data-action="click->randomizer#specifiedDraw">全てから指定数引く</button></li>
            <li><button class="btn btn-primary mb-1 py-2 px-3" data-action="click->randomizer#drawToTarget">指定の物が出るまで引く</button></li>
            <br>
            <li><button class="btn btn-primary mb-1 py-2 px-3" data-action="click->randomizer#checkedSpecifiedDraw">チェックされているものから指定数引く</button></li>
            <li><button class="btn btn-primary mb-1 py-2 px-3" data-action="click->randomizer#checkedDrawTarget">チェックされているものから指定の物が出るまで引く</button></li>
            <br>
            <li><button class="btn btn-primary mb-1 py-2 px-3" data-action="click->randomizer#uncheckedSpecifiedDraw">非チェックから指定数引く</button></li>
            <li><button class="btn btn-primary mb-1 py-2 px-3" data-action="click->randomizer#uncheckedDrawToTarget">非チェックから指定の物が出るまで引く</button></li>
          </ul>
        </div>
        <div class="col-md">
          <div class="card">
            <div class="card-header">
              <i class="bi bi-wrench-adjustable">ランダマイザー設定</i>
            </div>
            <div class="card-body">
              <div class="input-group mb-4">
                <label for="randomSeed" class="input-group-text">シード値</label>
                <input id="randomSeed" data-randomizer-target="seed" name="randomSeed" type="number" class="form-control" placeholder="未設定時は自動生成" data-controller="tooltip" data-tooltip="変更されると自動的にシード値の再設定が行われます。"/>
                <button class="btn btn-primary" data-action="click->randomizer#setSeed" data-controller="tooltip" data-tooltip="現在の値でシード値を再設定します。これにより、シード値のリセットが行われます。">決定</button>
              </div>
              <div class="input-group mb-4">
                <label for="anyDrawNumber" class="input-group-text">指定数</label>
                <input id="anyDrawNumber" data-randomizer-target="specifiedNumber" name="anyDrawNumber" type="number" class="form-control" placeholder="正数のみ有効、マイナスは無効" value=1 />
              </div>
              <div class="card mb-1">
                <div class="card-header">
                  <i class="bi bi-disc-fill">疑似乱数生成方式</i>
                </div>
                <div class="card-body">
                  <div class="form-check">
                    <label for="checkMT" class="from-check-label" data-controller="tooltip" data-tooltip="近年において一般的に広く使われる方式">メルセンヌツイスタ</label>
                    <input id="checkMT" data-randomizer-target="randomizerSwitch" name="randomizerSwitched" type="radio" class="form-check-input" value="MersseneTwister" checked>
                  </div>
                  <div class="form-check">
                    <label for="checkXorShift" class="form-check-label" data-controller="tooltip" data-tooltip="排他的論理和とビットシフトのみの高速な処理">XorShift</label>
                    <input id="checkXorShift" data-randomizer-target="randomizerSwitch" name="randomizerSwitched" type="radio" class="form-check-input" value="XorShift">
                  </div>
                  <div class="form-check">
                    <label for="checkLCGs" class="form-check-label" data-controller="tooltip" data-tooltip="非推奨。最小メモリで高速に演算しますが、偶数奇数が交互に発生する問題があります。">線形合同方式</label>
                    <input id="checkLCGs" data-randomizer-target="randomizerSwitch" name="randomizerSwitched" type="radio" class="form-check-input" value="LinearCGs">
                  </div>
                  <div class="form-check">
                    <label for="checkMathRandom" class="form-check-label" data-controller="tooltip" data-tooltip="線形合同方式などの個々のJavascript実装に依存します。Seed設定無効">Math.Random</label>
                    <input id="checkMathRandom" data-randomizer-target="randomizerSwitch" name="randomizerSwitched" type="radio" class="form-check-input" value="MathRandom">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
