<div id="<%= dom_id random_set %>">
  <p>
    <strong>Name:</strong>
    <%= random_set.name %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= random_set.parent %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= random_set.data %>
  </p>

</div>
