<% content_for :title, "セット作成" %>

<h1>セット作成</h1>

<div class="card">
  <div class="card-header">
    <i class="bi bi-brush-fill">セット情報</i>
  </div>
  <div class="card-body">
    <%= render "form", random_set: @random_set %>
  </div>
</div>
