@import 'bootstrap/scss/bootstrap';

.vertical-line {
  border-right: 1px solid #CCC;
  height: 25px;
  margin: 0 10px;
}

.header {
  z-index: 1000;
  width: 100vw;
}

.main-body {
  width: 100%;
  max-width: 2048px;
}

th.sortable {
  cursor: pointer;
}

th.sortable::after {
  content: ' ';
  margin-left: 5px;
}

th.sortable.asc::after {
  content: '▲';
}

th.sortable.desc::after {
  content: '▼';
}

.btn-small {
  --bs-btn-padding-y: 0.25em;
  --bs-btn-padding-x: 0.5em;
  --bs-btn-font-size: 0.75em;
}

.flip-opacity {
  opacity: 10%;
}

.bg-through {
  background-color: rgba($color: #FFF, $alpha: 0);
}

.field_with_errors {
  flex: auto;
  display: flex;

  .form-control {
    border-color: red;
  }

  &:first-child {
    flex-grow: 0;
  }

  &:nth-child(2) {
    flex-grow: 2;
  }
}

.bi {
  &.color-blue {
    color: #0d6efd;
  }
}
