<% if object.errors.any? %>
  <div id="errorMessage">
    <div class="alert alert-danger">
      <%= pluralize(object.errors.count, "個の問題")  %>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
