<header class="navbar navber-fixed-top bg-dark">
  <nav class="navbar navbar-expand px-4 py-0 d-flex flex-grow-1">
    <div class="pe-3 vertical-line">
      <%= link_to "Randomizer App", root_path, class: "text-white display-7 text-decoration-none" %>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center align-items-center">
      <li class="nav-item">
        <%= link_to "セット作成", new_random_set_path, class: "nav-link link-light" %>
      </li>
      <li class="nav-item">
        <%= link_to "セット検索", random_sets_path, class: "nav-link link-light" %>
      </li>
      <li class="nav-item">
        <%= link_to "利用方法", guide_path, class: "nav-link link-light" %>
      </li>
    </ul>
  </nav>
</header>
