<%# 最上位行 %>
<%= turbo_frame_tag "random_set_lotteries" do %>
  <% if @lotteries.empty? %>
    <p>登録がありません</p>
  <% else %>
    <table id="lotteriesTable" class="table table-hover table-striped table-sm" data-controller="table-sort">
      <thead>
        <tr>
          <th data-sort="checkbox" data-action="click->table-sort#checkboxSort" data-table-sort-target="tableHeader"><input class="form-check-input" type="checkbox" checked></th>
          <th data-sort="string" data-action="click->table-sort#pickupSort" data-table-sort-target="tableHeader"><span class="bi bi-stars"></span></th>
          <th data-sort="number" data-action="click->table-sort#sort" data-table-sort-target="tableHeader">Reality</th>
          <th data-sort="string" data-action="click->table-sort#sort" data-table-sort-target="tableHeader">Name</th>   
          <th>dict</th>     
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <%= render @lotteries %>
      </tbody>
    </table>
  <% end %>
<% end %>
