<%# 最上位行 %>
<div class="row">
  <% if @random_set.present? %>
    <div class="col-1 mt-auto"></div>
  <% end %>
  <div class="col-3 mt-auto">
    <%= sort_link(@search, :reality, class: "btn btn-primary" ) %>
  </div>
  <div class="col-4 mt-auto">
    <%= sort_link(@search, :name, class: "btn btn-primary" ) %>
  </div>
  <%# blank %>
  <div class="col-4 mt-auto">
  </div>
</div>
<br>
<%# 本体部 %>
<ul class="list-unstyled">
  <% if @lotteries.empty? %>
    <li>登録がありません</li>
  <% else %>
    <%= render @lotteries %>
  <% end %>
</ul>
