<div class="d-flex flex-column flex-shrink-0 bg-dark text-white vh-100 ">
  <div class="d-flex align-items-center justify-content-center py-2">
    <%= link_to "Randomizer App", root_path, class: "text-white display-7 text-decoration-none" %>
  </div>
</div>
