<div class="alert alert-info">
  <%= params %>
  <br>
  <%= session.each { |i| i } %>
  <br>
  <%= cookies.each { |i| i } %>
  <br>
  current_user id:<%= @current_user.present? ? @current_user.id : "N/A" %>
  <br>
</div>
